/* Настройки и шрифты */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
}

button {
  border: 0;
  cursor: pointer;
}

button[type="button"] {
  cursor: pointer;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h1,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.img {
  display: block;
}

/*Основные стили*/

.wrapper {
  width: 1020px;
}

.container {
  padding: 0 40px;
  height: 100%;
  width: 100%;
}

/* Header */

.header {
  height: 89px;
  background-color: #2d303a;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__right {
  padding-top: 10px;
}

.logo {
  color: white;
  font-size: 25px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.26;
  text-align: justify;
  letter-spacing: -1px;

}

.logo span {
  color: #f06c64;
}

.nav-list {
  display: flex;
}

.nav__elem {
  margin-right: 30px;
  color: white;
  position: relative;
}

.active {
  color: #f06c64;
}

.nav__elem:last-child {
  margin-right: 0;
}

.nav__elem::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background: #494e62;
  border-radius: 50%;
  top: 40%;
  left: 100%;
  right: 0;
  bottom: 0;
  margin-left: 15px;
}

.nav__elem:last-child:after {
  display: none;
}

.nav__link {
  letter-spacing: -0.5px;
}

.line {
  width: 1020px;
  height: 6px;
}

.header-bottom {
  background-color: #323746;
}


/* Slider */

.slider {
  height: 600px;
  background-color: #f06c64;
}

.slider__wrapper {
  height: 100%;
}

.slide {
  position: relative;
  height: inherit;
}

.phone__img {
  position: absolute;
}

.phone__img--vertical {
  top: 53px;
  left: 112px;
  right: 693px;
  bottom: 83px;
  border-radius: 26px;
  box-shadow: 23px 24px 6px 0px rgba(0, 0, 0, 0.2);
}

.phone__img--vertical::after {
  content: '';
  position: absolute;
  background: url('assets/img/Layer.png') center center no-repeat;
}

.phone__img--horizontal {
  transform: rotate(90deg);
  top: 9%;
  right: 25.4%;
  border-radius: 26px;
  box-shadow: 24px -25px 6px 0px rgba(0, 0, 0, 0.2);
}

.button-arrow {
  position: absolute;
  top: 54%;

}

.arrow {
  fill: #ca4549;
}

.arrow__right {
  left: 4%;
}

.arrow__left {
  right: 2.6%;
  transform: rotate(180deg);
}